<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Basic-Data-Types" data-toc-modified-id="Basic-Data-Types-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Basic Data Types</a></span><ul class="toc-item"><li><span><a href="#I/O" data-toc-modified-id="I/O-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>I/O</a></span></li><li><span><a href="#Numbers" data-toc-modified-id="Numbers-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Numbers</a></span></li><li><span><a href="#Booleans" data-toc-modified-id="Booleans-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Booleans</a></span></li><li><span><a href="#Conditional-logic" data-toc-modified-id="Conditional-logic-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Conditional logic</a></span></li><li><span><a href="#Exercise:-Conditional-logic" data-toc-modified-id="Exercise:-Conditional-logic-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Exercise: Conditional logic</a></span></li><li><span><a href="#Range()-function" data-toc-modified-id="Range()-function-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>Range() function</a></span></li><li><span><a href="#For-loop" data-toc-modified-id="For-loop-1.7"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>For loop</a></span></li><li><span><a href="#While-loop" data-toc-modified-id="While-loop-1.8"><span class="toc-item-num">1.8&nbsp;&nbsp;</span>While loop</a></span></li></ul></li></ul></div>

# Basic Data Types

Python has several built-in data types that let us work with most of datatypes. Here are they:

* Numeric Data Types:
    - INT: integer numbers.
    - FLOAT: floating decimal point number.
    - COMPLEX: complex numbers, containing real and imaginary parts, eg. 2+3j
    - BOOL: boolean number, has 2 values: 1-True, 0-False.
    
    
* Text Data Types:
    - STR: sequence of character data, which is considered as text.
    
    
* Collection Data Types:
    - LIST: collection which is ordered and changeable.
    - TUPLE: collection which is ordered and unchangeable.
    - SET: collection which is unordered and unindexed.
    - DICT: collection which is unordered, changeable and indexed.


Each of those data types have their own procedures and parameters that creates a big difference between them. Let's play around different data types:

In [9]:
type(134.12)

float

In [10]:
type(134e12)

float

In [11]:
type("134q12")

str

In [12]:
type([1,0])

list

In [14]:
type((1,0))

tuple

In [13]:
type({1,0})

set

In [15]:
type({'list':[1,0],'set':{1,0},'tuple':(1,0)})

dict

In [16]:
type([[1,0],(1,0)])

list

As we can see different data types are defined in a different way. Besides that you can notice that collections can contain any data types. It can be very handy in daily routine. 

But what about inputs? We could see that we can enter data as it is. But as a programmer your goal is to generalize the process, which can't be done without variables. How do we define and display them?

## I/O

In [17]:
number=42

In [18]:
text='Some random sentence.'

In [24]:
print(text)

Some random sentence.

In [22]:
display(text)

'Some random sentence.'

In [26]:
text

'Some random sentence.'

In [28]:
print(number)

42

In [27]:
number

42

In [29]:
number
print(text)

Some random sentence.

In [31]:
print(text)
display(number)
text

Some random sentence.

42

'Some random sentence.'

In [32]:
another_text=input('What is your name? ')

What is your name?  Mauritian

In [33]:
print(another_text)

Mauritian

In [34]:
print('My name is',another_text)

My name is Mauritian

In [36]:
print(f"{another_text}'s favourite number is {number}")

Mauritian's favourite number is 42

## Numbers

In [37]:
type(42)

int

In [38]:
type(42.0)

float

In [39]:
type(42,0)

TypeError: type() takes 1 or 3 arguments

In [40]:
round(42)

42

In [41]:
round(42.3)

42

In [42]:
round(42.8)

43

In [44]:
round(42e8)

4200000000

In [45]:
round(42e-8)

0

In [76]:
round(True)

1

In [77]:
type(True)

bool

In [79]:
happy = True
print(happy)

True

In [80]:
print(5 + 5 == 10)

True

In [81]:
print('q' in 'abra')

False

In [82]:
print(5>4>3)

True

In [83]:
print((100 > 75) & (93 < 80))

False

In [84]:
print((93 > 80) | (3 not in [1,2,3,4,5]))

True

## Booleans

Any object can be tested for truth value, for use in an if or while condition or as operand of the Boolean operations below.

By default, an object is considered true unless its class defines either a <code>__bool__()</code> method that returns <code style="color:green"><b>False</b></code> or a <code>__len__()</code> method that returns zero, when called with the object. Here are most of the built-in objects considered <code style="color:green"><b>False</b></code>:

* constants defined to be false: <code style="color:green"><b>None</b></code> and <code style="color:green"><b>False</b></code>.
* zero of any numeric type: 
```python 
0, 0.0, 0j
```
* empty sequences and collections: 
```python 
'', (), [], {}, set(), range(0)
```

In [90]:
x=None
print(x)
if x:
    print('True')

None

In [91]:
x=False
print(x)
if x:
    print('True')

False

In [92]:
x=0
print(x)
if x:
    print('True')

0

In [93]:
x=0.0
print(x)
if x:
    print('True')

0.0

In [95]:
x=''
print(x)
if x:
    print('True')

In [96]:
x=[]
print(x)
if x:
    print('True')

[]


Operations and built-in functions that have a Boolean result always return 0 or False for false and 1 or True for true, unless otherwise stated. (Important exception: the Boolean operations or and and always return one of their operands.)

These are the Boolean operations, ordered by ascending priority:



<table>
<colgroup>
<col>
<col>
<col>
</colgroup>
<thead>
<tr><th><p>Operation</p></th>
<th><p>Result</p></th>
<th><p>Notes</p></th>
</tr>
</thead>
<tbody>
<tr><td><p><code><span>x</span> <span>or</span> <span>y</span></code></p></td>
<td><p>if <em>x</em> is false, then <em>y</em>, else <em>x</em></p></td>
<td><p>(1)</p></td>
</tr>
<tr><td><p><code><span>x</span> <span>and</span> <span>y</span></code></p></td>
<td><p>if <em>x</em> is false, then <em>x</em>, else <em>y</em></p></td>
<td><p>(2)</p></td>
</tr>
<tr><td><p><code><span>not</span> <span>x</span></code></p></td>
<td><p>if <em>x</em> is false, then <code><span>True</span></code>, else <code><span>False</span></code></p></td>
<td><p>(3)</p></td>
</tr>
</tbody>
</table>

1. This is a short-circuit operator, so it only evaluates the second argument if the first one is false.
2. This is a short-circuit operator, so it only evaluates the second argument if the first one is true.
3. `not` has a lower priority than non-Boolean operators, so not `a == b` is interpreted as `not (a == b)`, and `a == not b` is a syntax error.

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [99]:
love=this

In [124]:
this is love

True

In [125]:
love is this

True

In [129]:
what is love?

Type:        module
String form: <module 'this' from '/home/mauritian/yes/lib/python3.7/this.py'>
File:        ~/yes/lib/python3.7/this.py
Docstring:   <no docstring>

In [136]:
love is True

False

In [137]:
love is False

False

In [138]:
love is not True

True

In [139]:
love is not False

True

In [140]:
love is not True and love is not False

True

In [141]:
love is love

True

<img src="https://images-na.ssl-images-amazon.com/images/I/91WY2zIvzzL._AC_SL1500_.jpg" width="400">

## Conditional logic
``` python
if (condition):
    (statement)
elif (condition):
    (statement)
else:
    (statement)
```

<img src='https://lh3.googleusercontent.com/proxy/tRmnc7155iybABCiXGqpaWq9tdyLJ72R0Qc6aaGLroIJdHpC4so1vdWrTgZfGpdmYc7zjdada8jiTrdHPFLBs8RKY8iX6p-ZFjoPbcuB'  width='400'>

## Exercise: Conditional logic 

I live in Villejuif and ride bike. It takes me 30 min to reach Deskopolitain from home. Then only obstacle that can make me use public transport is rain. If it rains, it takes me 20 min more. But you all know Parisian metro, especially line 6... It takes me 15 min more if there is a traffic jam in metro (for those who dont live in Paris, there are traffic jams in the metro as well :D).

Write down the code that would calculate my commute time depending on the weather and traffic condition. (Keep in mind, bikers dont care of traffic jams)

In [8]:
commute = 30
rain = False
traffic = False
if (rain == True):
    if (rain == True) & (traffic == True):
        total_commute = commute + 15 + 20
    elif (rain == True) & (traffic == False):
        total_commute = commute + 20
    elif (rain == False) & (traffic == True):
        total_commute = commute + 15
else:
    total_commute = commute
print("Your total commute time is expected to be", total_commute, "minutes.")

Your total commute time is expected to be 30 minutes.

In [12]:
commute = 30
rain = True
traffic = False
if (rain == True):
    if traffic == True:
        total_commute = commute + 15 + 20
    elif traffic == False:
        total_commute = commute + 20
else:
    total_commute = commute
print("Your total commute time is expected to be", total_commute, "minutes.")

Your total commute time is expected to be 50 minutes.

In [16]:
commute = 30
rain = False
traffic = False
if rain:
    if traffic:
        total_commute = commute + 15 + 20
    else:
        total_commute = commute + 20
else:
    total_commute = commute
print("Your total commute time is expected to be", total_commute, "minutes.")

Your total commute time is expected to be 30 minutes.

In [21]:
commute = 30
rain = True
traffic = False
if rain & traffic:
        total_commute = commute + 15 + 20
elif rain & (not traffic):
        total_commute = commute + 20
else:
    total_commute = commute
print("Your total commute time is expected to be", total_commute, "minutes.")

Your total commute time is expected to be 50 minutes.

In [26]:
commute = 30
rain = False
traffic = False

total_commute = commute + 20*rain + 15*rain*traffic
print("Your total commute time is expected to be", total_commute, "minutes.")

Your total commute time is expected to be 30 minutes.

## Range() function

Function that returns a number generator. Can be defined in 3 ways:
* Define by last element
``` python
list(range(10))
>>>[0,1,2,3,4,5,6,7,8,9]
```


* Define by first and last element
``` python
list(range(4,10))
>>>[4,5,6,7,8,9]
```


* Define by first and last element and step
``` python
list(range(0,10,2))
>>>[0,2,4,6,8]
```

## For loop
```python
for [item] in [iterable]:
    [statement]
```

In [29]:
for i in range(5, 15):
    print(i)

5
6
7
8
9
10
11
12
13
14

In [35]:
fruits = ['apple', 'orange', 'banana', 'grapes', 'pineapple']
for fruit in fruits:
    print(fruit)

apple
orange
banana
grapes
pineapple

In [32]:
ages = {'Brian':23, 'Amy':22, 'Darlene':47, 'Ralph':32, 'Jordan':28, 'Stephanie':35}
for name, age in ages.items():
    print(name, "is", age, "years old.")

Brian is 23 years old.
Amy is 22 years old.
Darlene is 47 years old.
Ralph is 32 years old.
Jordan is 28 years old.
Stephanie is 35 years old.

```python
for i in range(len([sequence])):
    [statement] #iterate over seq[i]

for i,item in enumerate([sequence]):
    [statement] #iterate over seq[i]

```

In [36]:
# replace second element by 'pineapple'
for i in range(len(fruits)):
    if i==2:
        fruits[i]='pineapple'
print(fruits)

['apple', 'orange', 'pineapple', 'grapes', 'pineapple']

In [39]:
# replace second element by 'banana'
for i,item in enumerate(fruits):
    if i==2:
        fruits[i]='banana'
    print(f'Fruit #{i} is {item}')

Fruit #0 is apple
Fruit #1 is orange
Fruit #2 is banana
Fruit #3 is grapes
Fruit #4 is pineapple

## While loop
<img src='https://lh3.googleusercontent.com/proxy/7-hwGm3K_HE2n2lK4fMv1eTIcgrPt2RRTJ02m9CxNMvlPW_WGPh5vDaYQCSkLYaqyICuln23Y-ImQ4i0CIP_1AkzgO1QnChCOsV-nwwcxEc'  width='400'>

In [40]:
i=10
while i>-1:
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1
0

In [43]:
import time

total_time = 60 #time needed to bake a cake
minutes_elapsed = 0 #time elapsed
wait = 15 #step

print("Cake is in the oven.") #say ‘Hello’ to Master
minutes_elapsed += wait #press ‘Start’ button

while minutes_elapsed < total_time: #wait until cake is done
    print("Cake is not done yet.") #say that cake is not ready if time elapsed is not enough
    minutes_elapsed += wait #skip step 
    time.sleep(2)

print("It's done. Let's eat cake!") #tell Master that cake is ready

Cake is in the oven.
Cake is not done yet.
Cake is not done yet.
Cake is not done yet.
It's done. Let's eat cake!